@model int

<div>
    <div class="card rounded px-5 py-2">
        <div class="card-body">
            <form onsubmit="return CheckValidation(this)" action="AddVisitorForm" class="form needs-validation" role="form" autocomplete="off" method="post">

                <input type="hidden" class="form-control" id="C_PID" name="PrisonerID" value=@Model required />

                <div class="form-group">
                    <label for="C_FFName">First Name</label>
                    <input type="text" class="form-control" placeholder="Enter First Name" id="C_FFName" name="FirstName" required>
                    <div class="invalid-feedback">Please enter valid input</div>
                </div>

                <div class="form-group">
                    <label for="C_LName">Last Name</label>
                    <input type="text" class="form-control" placeholder="Enter Last Name" id="C_LName" name="LastName" required>
                    <div class="invalid-feedback">Please enter valid input</div>
                </div>

                <div>
                    <label for="Gender">Gender </label>
                    <input type="radio" name="Gender" value="M" checked required> Male
                    <input type="radio" name="Gender" value="F"> Female
                    <div class="invalid-feedback">Select Option</div>
                </div>

                <div class="form-group">
                    <label for="C_CCNIC">CNIC</label>
                    <input type="text" class="form-control" placeholder="Enter CNIC" id="C_CCNIC" name="CNIC" required>
                    <div class="invalid-feedback">Please enter valid input</div>
                </div>

                <div class="form-group">
                    <label for="C_CAdd">Address</label>
                    <input type="text" class="form-control" placeholder="Enter Address" id="C_CAdd" name="Address" required>
                    <div class="invalid-feedback">Please enter valid input</div>
                </div>

                <div class="form-group">
                    <label for="C_Rel">Relation</label>
                    <input type="text" class="form-control" placeholder="Enter Relation with Prisoner" id="C_Rel" name="Relation" required>
                    <div class="invalid-feedback">Please enter valid input</div>
                </div>

                <div>
                    <button type="submit" class="btn btn-success btn-block" onclick=" return CheckValidation() ">Done</button>
                </div>

            </form>
        </div>
    </div>
</div>

<!--Javascript Validation-->
<script>
    function CheckValidation() {
        var fname = document.getElementById("C_FFName");
        var lname = document.getElementById("C_LName");
        var cnic = document.getElementById("C_CCNIC");
        var address = document.getElementById("C_CAdd");
        var relation = document.getElementById("C_Rel");
        var flag = 0;

        if (!CheckName(fname)) {
            alert("Invalid first name");
            fname.value = "";
            flag = 1;
        }
        if (!CheckName(lname)) {
            alert("Invalid last name");
            lname.value = "";
            flag = 1;
        }
        if (!CheckName(relation)) {
            alert("Invalid relation");
            relation.value = "";
            flag = 1;
        }

        if (!CheckCNIC(cnic)) {
            alert("Invalid CNIC");
            cnic.value = "";
            flag = 1;
        }
        if (!CheckAddress(address)) {
            alert("Invalid Address");
            address.value = "";
            flag = 1;
        }


        if (flag == 0) {
            alert("All values valid");
            return true;
        }
        
        alert("Invalid values detected. Please enter valid data");
        return false;

    }


    function CheckName(inputtxt) {
        var allowed = /^[a-z ,.'-]+$/i;

        if (inputtxt.value.match(allowed))
        {
            return true;
        }
        return false;       

    }

    function CheckCNIC(input) {
        var allowed1 = /^[0-9 -]{15,15}$/;
        var allowed2 = /^[0-9]{13,13}$/;
        
        if (input.value.match(allowed1) || input.value.match(allowed2))
        {
            return true;
        }
        return false;

    }

    function CheckAddress(input) {
        var allowed3 = /^[0-9a-zA-Z\s #(),.-]+$/;

        if (input.value.match(allowed3))
        {
            return true;
        }
        return false;

    }
</script>

